.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* justify-content: space-between; */
  /* align-content: center; */
  /* height: 400px; */
  grid-template-areas: 'header header header header' 'info main main main'
}

.info {
  grid-area: info;
  /* border-right: 1px #ccc solid; */
  margin: 0 0 0 0em;
  padding: 1.5rem 1rem 0 2rem;
}

.main {
  grid-area: main;
  /* border: 1px #ccc solid; */
  margin: 0 0 0 0em;
  padding: 1.5rem 2rem 0 1rem;
}

.header {
  margin: 0em;
  padding: 0em;
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.prof_pic, .name, .affiliation, .about {
  align-items: center;
  justify-items: center;
}

.name {
  grid-column: 1/-1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.876);
  padding: 3rem;
}

.name h1{
  font-size: 2.9rem;
}

.affiliation {
  grid-column: 1/-1;
  grid-row: 2;
  background-color: rgb(231, 220, 122);
  padding-left: 3rem;
}

.affiliation h2{
  font-family: 'Josefin Sans', serif;
  font-size: 1.8rem;
}

.about {
  grid-column: 1/-1;
  grid-row: 3;
  background-color: rgba(0, 0, 0, 0.205);
  padding-left: 3rem;
  padding-right: 3rem;
}

.about h2{
  /* padding-bottom: -2px; */
  margin-bottom: -0.5rem;
}

.about p{
  font-size: 1.1em;
}

.prof_pic {
  grid-area: prof_pic;
  grid-column: 3;
  grid-row: 1/ span 3;
  z-index: 10; 
  /* align-self: center ; */
  padding-top: 10%;
}

img {
  /* width: 100px; */
  /* height: 8rem; */
  border-radius: 50%;
  /* width: 10%; */
  width: 250px;
  height: 250px;
  margin: 1rem;
  margin-right: 6rem;
  margin-top: 1rem;
}

td {
  text-align: center;
}

.name h1 {
  color: white;
}

h1 {
  font-family: 'Josefin Sans', serif;
  color: rgb(0, 0, 0);
  margin: 0 0 0.0rem;
  padding:0;
}

h2 {
  font-family: 'Josefin Sans', serif;
  color: #000000;
  /* margin: 0 0 0.2em; */
  font-size: 1.3em;
}

dt {
  font-size: 1em;
  color: #1e212d;
  line-height: 1.4;
}

dd {
  color: #5b5b5b;
  margin: 0.4em 0 1.5em;
  font-size: 0.8em;
  padding-left: 1rem;
}

li {
  color: #374045;
  line-height: 1.3;
  margin-bottom: 0.75em;
}

body {
  margin: auto;
  padding: 2rem;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  /* line-height: 1; */
  width: 80%;
  align-content: center;
  /* display: grid; */
  /* grid-template-columns: 30% 65%; */
  /* grid-column-gap: 5%; */
}

/* .row {
  display: flex; */

/*
      justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around;
      */

/* flex-wrap: wrap;
  justify-content: center;
} */

/* .header { */

/* flex-basis: 100%; */

/* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-left: 7em; */

/* display: inline;  */

/* margin-bottom: 5em; */

/* column-span: all; */

/* } */

/* .header>img {
  display: flex;
  flex-basis: 10%;
}


.header>h1 {
  display: flex;
  flex-basis: 90%;
}

.header>h2 {
  display: flex;
  flex-basis: 90%;
}

.header>ul {
  display: flex;
  list-style: none;
}

.header>ul li {
  display: inline;
  border: 1px #ccc solid;
}


.lcolumn {
  flex-basis: 30%;
}

.rcolumn {
  flex-basis: 50%;
} */

/* 
img {
  /* width: 2%; */

/* height: 8em; */

/* border-radius: 50%; */